
*.sln
InvestmentApp/.vs/InvestmentApp/v16/.suo
*.config
*.csproj
*.cache
InvestmentApp/InvestmentLibrary/Properties/AssemblyInfo.cs
InvestmentApp/InvestmentLibrary/Properties/Settings.Designer.cs
*.settings
InvestmentApp/InvestmentLibrary/Properties/Resources.Designer.cs
InvestmentApp/InvestmentLibrary/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.dll
*.xml
*.pdb
*.exe
*.CopyComplete
*.txt
*.resources
*.lref
*.baml
*.p7s
*.nupkg
*._
*.props
*.targets
*.cfg
*.png
*.pri
*.xaml
InvestmentApp/InvestmentLibrary/obj/Debug/Panels.g.i.cs
InvestmentApp/InvestmentLibrary/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
